form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 820px) {
  form {
    align-items: flex-start;
    padding: 0.5rem;
  }
  form input,
  form button {
    width: 80%;
  }
}
