header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 1rem;
}
header h1 {
  margin: 0;
  padding: 0;
}
nav a:hover {
  color: var(--primary);
}
