/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  padding: 1rem;
  border-bottom: 2px solid hsl(257deg 100% 50% / 10%);
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg);
}
header li {
  text-transform: uppercase;
}

header h1 {
  margin: 0;
  padding: 0;
}

nav a:hover {
  color: var(--primary);
}
.btn-secondary {
  width: 14%;
  padding: 0 24px;
  background-color: var(--primary);
  color: var(--text);
  min-height: 40px;
  max-height: 30px;
}
.btn-secondary a {
  margin: 0;
  padding: 0;
}
.btn-secondary a:hover {
  color: var(--text);
}
/* Hamburger Menu */
.hamburger {
  margin-left: auto;
  display: none; /* Hide by default */
}

.hamburger.active {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

/* Nav Menu */
.nav-menu {
  list-style-type: none;
  display: flex;
  gap: 1px;
  align-items: center;
}

.nav-menu a {
  display: block;
  font-size: 1rem;
  width: 100%;
  font-weight: 500;
}

.nav-menu.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  min-width: 300px;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: #000814;
  height: 100vh;
  font-size: 1rem;
  margin: 0;
}

.nav-menu.open a {
  margin-top: 5px;
}

.close-menu {
  width: 90%;
  padding: 10px;
  text-align: right;
  display: inline;
}

.close-menu span:hover {
  cursor: pointer;
}
.nav-menu.hidden {
  width: 70%;
  justify-content: space-between;
}
.nav-menu ul {
  display: flex;
  flex-direction: row;
  height: 88%;
  width: 70%;
  gap: 1.5rem;
  margin: 10px 0 0;
}

.nav-menu li {
  height: unset;
  width: calc(100% / 4);
}
.btn-secondary:hover {
  box-shadow: 0 20px 80px 5px var(--primary);
  background-color: var(--primary);
}

/* Responsive Behavior */
@media (max-width: 820px) {
  header {
    justify-content: initial;
  }

  .hamburger {
    display: block; /* Show hamburger menu */
    font-size: 16px;
  }

  .nav-menu {
    display: none; /* Hide nav menu */
  }
  .nav-menu ul {
    flex-direction: column;
    height: 75%;
    width: 100%;
    gap: 1.5rem;
    margin: 10px 0 0;
  }
  .nav-menu li {
    text-align: left;
    width: 100%;
    padding: 8px;
  }
  .nav-menu.open {
    display: flex; /* Show nav menu when open */
  }
  .nav-menu.open a:hover {
    color: #fff;
  }
  .hidden {
    display: none;
  }
  .nav-menu ul li:hover {
    background-color: var(--primary);
  }
  .btn-secondary {
    width: 80%;
    margin: 0 auto;
    padding: 5px 20px;
    background-color: var(--primary);
    color: var(--text);
  }
  .close-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .close-menu span {
    font-size: 21px;
  }
  .btn-secondary:hover {
    transform: translate(0, -3px);
    box-shadow: 0 20px 80px -10px var(--primary);
    background-color: var(--primary);
  }
}
